semana06/clase/DemoWCF_Entity/ClienteWebb/App_WebReferences/ProxyClientes/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Ventas" />
  <xs:element name="CalcularDeudaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularDeudaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcularDeudaClienteResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRazonSocialCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRazonSocialClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="ListarRazonSocialClienteResult" nillable="true" type="q1:ArrayOfClienteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularDeudaClienteLINQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularDeudaClienteLINQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcularDeudaClienteLINQResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>