semana06/clase/DemoWCF_Entity/ClienteWebb/App_WebReferences/ProxyClientes/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Ventas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICliente_CalcularDeudaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularDeudaCliente" />
  </wsdl:message>
  <wsdl:message name="ICliente_CalcularDeudaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularDeudaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_ListarRazonSocialCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRazonSocialCliente" />
  </wsdl:message>
  <wsdl:message name="ICliente_ListarRazonSocialCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRazonSocialClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_CalcularDeudaClienteLINQ_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularDeudaClienteLINQ" />
  </wsdl:message>
  <wsdl:message name="ICliente_CalcularDeudaClienteLINQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularDeudaClienteLINQResponse" />
  </wsdl:message>
  <wsdl:portType name="ICliente">
    <wsdl:operation name="CalcularDeudaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/CalcularDeudaCliente" message="tns:ICliente_CalcularDeudaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/CalcularDeudaClienteResponse" message="tns:ICliente_CalcularDeudaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRazonSocialCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/ListarRazonSocialCliente" message="tns:ICliente_ListarRazonSocialCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/ListarRazonSocialClienteResponse" message="tns:ICliente_ListarRazonSocialCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularDeudaClienteLINQ">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/CalcularDeudaClienteLINQ" message="tns:ICliente_CalcularDeudaClienteLINQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/CalcularDeudaClienteLINQResponse" message="tns:ICliente_CalcularDeudaClienteLINQ_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICliente" type="tns:ICliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularDeudaCliente">
      <soap:operation soapAction="http://tempuri.org/ICliente/CalcularDeudaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRazonSocialCliente">
      <soap:operation soapAction="http://tempuri.org/ICliente/ListarRazonSocialCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularDeudaClienteLINQ">
      <soap:operation soapAction="http://tempuri.org/ICliente/CalcularDeudaClienteLINQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cliente">
    <wsdl:port name="BasicHttpBinding_ICliente" binding="tns:BasicHttpBinding_ICliente">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Ventas/Cliente/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>