clase/DemoWCF_Entity/ClienteWebb/App_WebReferences/ProxyClientes/WCF_Ventas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Ventas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Ventas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteBE" nillable="true" type="tns:ClienteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteBE" nillable="true" type="tns:ArrayOfClienteBE" />
  <xs:complexType name="ClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodDis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirCli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecReg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NomDis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazSocCli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RucCli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelCli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipCLi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codCli" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteBE" nillable="true" type="tns:ClienteBE" />
</xs:schema>