semana10/DemoWCFTransaccional/WCFTestCliente/Service References/Proxy2/WCFTransaccionaes2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFTransaccionaes2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFTransaccionaes2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SaldoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Saldo" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaldoCliente" nillable="true" type="tns:SaldoCliente" />
</xs:schema>