semana10/DemoWCFTransaccional/WCFTestCliente/Service References/Proxy/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFTransacciones" />
  <xs:element name="RestarSaldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFTransacciones" minOccurs="0" name="saldo" nillable="true" type="q1:SaldoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestarSaldoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestarSaldoResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>