clase/DemoWCF_Entity/ClienteWebb/App_WebReferences/ProxyFacturas/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Ventas" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFacturasClienteFechasLINQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFacturasClienteFechasLINQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="GetAllFacturasClienteFechasLINQResult" nillable="true" type="q3:ArrayOfFacturaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFacturasClienteFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFacturasClienteFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="GetAllFacturasClienteFechasResult" nillable="true" type="q4:ArrayOfFacturaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacturasVendedorFechasLINQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacturasVendedorFechasLINQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="GetFacturasVendedorFechasLINQResult" nillable="true" type="q5:ArrayOfFacturaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacturasVendedorFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacturasVendedorFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Ventas" minOccurs="0" name="GetFacturasVendedorFechasResult" nillable="true" type="q6:ArrayOfFacturaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>